<section class="bg-green-7 h-screen">
    <!------------------ START NAV BAR ------------------>
    {{> users/navbar-block}}

    <!------------------ END NAV BAR ------------------>
    
    <section class="container px-10 mx-auto bg-green-7">
        <h1 class="pt-8 pb-8 welcome-font-2">Am I even making money?!</h1>
        <div class="flex font-three">
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Total Spent</strong><br />${{totalSpent}}
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Total Budget</strong><br />${{totalBudget}}
            </div>
            <div class="table-content box pt-8 p-8 pr-16">
                <strong>Excess Budget Unspent</strong><br />${{excessBudget}}
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Excess Expenses</strong><br />${{excessExpenses}}
            </div>
            <div class="table-content box pt-8 p-8 pr-20">
                <strong>Net Budget</strong><br />${{netBudget}}
            </div>
        </div>
        <div class="flex font-three">
            <div class="table-content box pt-8 p-8 pr-32">
                <strong>Total Budget</strong><br />${{totalBudget}}
            </div>
            <div class="table-content box pt-8 p-8 pr-32">
                <strong>Monthly Earnings</strong><br />${{monthlyEarnings}}
            </div>
            <div class="table-content box pt-8 p-8 pr-32">
                <strong>Expected Savings</strong><br />${{expectedSavings}}
            </div>
            <div class="table-content box pt-8 p-8 pr-32">
                <strong>Actual Savings</strong><br />${{actualSavings}}
            </div>
        </div>
    </section>
</section>