<li>
	{{name}}
	{{#if sleep}}
	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{sleep}}">
		{{#if sleep}}Eat Me!{{else}}Regurgitate me?!{{/if}}
	</button>
	{{/if}}
	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
